@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }

  .daftar-antrian, .daftar-antrian * {
    visibility: visible;
  }

  .daftar-antrian {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .ringkasan-antrian, .ringkasan-antrian * {
    visibility: visible;
  }

  .ringkasan-antrian {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
